* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Global  Styles */
body {
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.container {
    /* max-width: 1140px; */
    width: 70%;
    margin: 0 auto;
}

.section {
    padding: 50px 0;
}

.btn {
    display: inline-block;
    padding: 12px 16px;
    font-weight: 600;
    background-color: #ff0;
    color: #000;
    border-radius: 5px;
    transition: ease .3s;
}

.btn:hover {
    background-color: #000;
    color: #ff0;
}

/* Header */
header a {
    color: #000;
    padding: 8px 10px;
    transition: ease .5s;
}

header .container {
    display: flex;
    background-color: #fff;
    flex-flow: column wrap;

}

header .logo {
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    padding: 28px 0 0;
}

header nav ul {
   margin-left: -24px;
   padding-bottom: 20px;
}

header nav li {
    display: inline-block;
    margin:0 12px;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    padding: 8px 10px;
}

header nav li a:hover{
    font-weight: 600;
    color: orange;
}

/* banner */
.banner {
    background-image: url(./images/2.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; 
}

/* info */
.info .container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.info .info_content {
   width: 50%;
}


.info .info_content p {
    margin-top: 30px;
}

.info .info_content .btn {
    margin-top: 30px;
}

.info .container img {
    border-radius: 10px;
    object-fit: cover;
}

/* Amount */
.amount .content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding: 50px 0;
    background-color: #ddd;
}

.amount .item {
    width: 12.5%;
    display: flex;
   
    align-items: center;
}

.amount .item h3{
    font-size: 40px;
    font-weight: 600;
}

.amount .item span {  
    margin-left: 10px;
    text-transform: uppercase;
}

/* Service */
.service{
    padding: 100px 0;
    color: #fff;
}

.service .row {
    --spacing:10px;
    --column: 4;
    /* Calculate the column size based on spacing and number of columns */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--spacing));
}


.service .row .item {
    width: calc(100% / var(--column) - var(--spacing));
    margin-left: var(--spacing);
    margin-top: 10px;
    background-color: #002147;
    font-size: 24px;
    padding: 50px 100px;
    border-radius: 10px;
    text-align: center;
}

.service .row .item h5 {
    width: 130px;
   padding-top: 15px;
   margin-left: -35px;
}

/* blog */

.blog {
    background-color: #ddd; 
    padding: 50px 0; 
}
.blog .container {
    display: flex;        
}

.blog .post .item , .blog .event .item{
    padding: 30px 30px;
    /* border-radius: 10px; */
    background-color: #fff;
}

.blog .post, .blog .event {
    padding: 20px 20px;     
    width: 50%;
}

.blog .btn {
    margin: 30px 0 0 372px;
}

.blog  h2 {
    margin-bottom: 40px;
}
.blog .post .item {
    display: flex;
    align-items: center;
    height: 160px;
    border-bottom: 1px solid #ddd;
}

.blog .item img {
    margin-right: 15px;
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.blog .post .item .content h4 {
    margin-bottom: 10px;
}

.blog  span {
    color: #ccc;
}


.blog .post .item .content p {
    margin-top: 10px;
}

.blog .container .post .item:nth-child(2){
    border-radius: 15px 15px 0 0;
}
.blog .post .item:nth-child(4) {
    border-radius: 0 0 15px 15px;
}

.blog .post:last-child {
    color: red;
}

.blog .event {
  
    margin-left: 50px;
    width: 50%;
}

.blog .event span {
    
    color: #00f;
}
.blog .event .content p {
    margin: 15px 0;
}
.blog .event .item {
    display: flex;
    border-radius: 15px;
    margin-bottom: 30px;
}

.blog .event .card {
    margin-bottom: 15px;
    padding: 0 20px 0 0 ;
    width: 100%;
    text-align: center;
}

.blog .event .card .card__top {
    padding: 20px;
    background-color: yellow;
    border-radius: 10px 10px 0 0;
}

.blog .event .card .card__bottom {
    padding: 10px 20px;
    background-color: #00f;
    border-radius: 0 0 10px 10px;
}

.blog .event .card .card__top p:first-child {
    font-size: 26px;
    font-weight: 600;
}

/* footer */
footer a {
    color:#fff;
}
footer {
    padding: 50px 0;
    background-color: #002147;
}
footer .content {
    display: flex;
    justify-content: space-between;
  
}

footer .content .item {
    padding: 30px 30px;
    color: #fff;
}

footer .content .item li {
    margin-top: 12px;
}

footer .content strong {
    font-size: 24px;
}
footer .content ul {
    list-style-type: none;
}

